/*!
=========================================================
* Material Tailwind Dashboard React - v1.1.0
=========================================================
* Product Page: https://www.creative-tim.com/product/material-tailwind-dashboard-react
* Copyright 2019 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/material-tailwind-dashboard-react/blob/main/LICENSE.md)
* Coded by Creative Tim
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@material-tailwind/react/tailwind.css";

.bg-login {
  background-image: url(../img/background.jpg);
}

.table__style {
  padding: 12px 8px;
  vertical-align: middle;
  border-bottom: solid 1px #e5e7eb;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-align: left;
}
